@import "color-palette";
@import "media-queries";

@media #{$above-sm-width} {
  .dropdown.hover-dropdown:hover .dropdown-menu {
    display: block;
  }
}

.dropdown-toggle .caret {
  margin-left: 0.3em;
}

.dropdown-menu {
  li.dropdown-header {
    font-size: 1em;
    color: $grey-black;
    font-weight: bold;
    margin-top: 0.5em;
  }
  li.dropdown-button {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      background: rgb(245,245,245);
    }
  }
}
