@import "color-palette";

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

img.with-placeholder {
  background: $grey-lighter;
}

.preload img {
  display: none;
}

.fit-to-image-parent {
  position: relative;
}

.fit-to-image {
  position: absolute;
  left: 0;
  top: 0;
  background: none;
  z-index: 2;
}

img.with-border {
  border-radius: 2px;
  border: 2px solid $grey-light;
}