$lg-query: "(min-width:1200px)";
$md-query: "(min-width:992px)";
$sm-query: "(min-width:768px)";
$xs-query: "(max-width:767px)";

$above-lg-width: "(min-width:1200px)";
$above-md-width: "(min-width:992px)";
$above-sm-width: "(min-width:768px)";

$below-lg-width: "(max-width:1199px)";
$below-md-width: "(max-width:991px)";
$below-sm-width: "(max-width:767px)";
