@import "color-palette";
@import "media-queries";

.page {
  background: white;
  padding: 1em 0;
  border: 1px solid $grey;
  margin: 1em -15px 1em -15px;
}

.page-tight {
  background: white;
  border: 1px solid $grey;
}

.page-tight.small-page {
  margin-top: 4em;
}

@media #{$sm-query} {
  .page {
    padding: 1.5em;
    margin: 2em 1em;
  }
}

@media print {
  .page {
    border: none;
  }
}