@import "color-palette";

.thumbnail {
  position: relative;
  display: inline-block;
  cursor: pointer;
  opacity: 0.9;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 2px;
  overflow: hidden;
  background: $grey-lighter;
  width: 8em;

  .notification-badge {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
  }
}

.thumbnail:hover {
  opacity: 1;
}

.thumbnail.selected {
  background: $grey-dark;
}

.selectable-thumbnail {
  background: $grey-lighter;
  cursor: pointer;
}

.selectable-thumbnail.selected {
  background: $grey-dark;
}