.container{ng: {controller: "home_demo_controller"}}
  .row
    .column-md-3
      %ul
        %li{"ng-repeat" => "data in contacts"}
          {{data.name}} - {{data.username}} - {{data.phone}}
    .column-md-9
      %ul
        %li{"ng-repeat" => "data in messages"}
          From {{data.from.name + ' ' + data.from.phone}}, to {{data.to.name + ' ' + data.to.phone}}: {{data.text}}

