.container{ng: {controller: "home_index_controller"}}
  .row
    .column-md-5
      %h2 {{current_account}}
  .row
    .column-md-5
      %h2 {{current_user}}
    .column-md-5
      .tree-classic{"on-selection" => "showSelected(node)", "tree-model" => "treedata", :treecontrol => true}
        {{node.label}}