@import "../shared/color-palette";

.users-manage {
  .new-user {
    margin-right: 1em;
  }
  .role-selector {
    label {
      margin-right: 1em;
    }
    .custom-select {
      margin-right: 1em;
    }
  }
  .custom-select.disabled {
    select {
      background: $grey-white;
    }
  }
}